* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: aliceblue;
}

h2{
    color: white;
}

.input{
    color: cyan;
    display:block;
    border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(0, 0, 0, 0.479);
	text-align: center;
    font-weight: 700;
}

.form-container {
    display: flex;
    height: 98vh;
    width: 100%;
    justify-content: center;
    align-items: center;

    
	position:absolute;
	padding:90px 70px 50px 70px;
}

.form-container .form-wrap {
    width: 40%;
    padding: 15px 20px;

	margin:auto;
	position:relative;
	background:url(https://images.unsplash.com/photo-1583429891508-015ef9cd958e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=713&q=80) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}

.form-container .form-wrap h2 {
    text-align: center;
    margin: 0px 0px 20px;
    font-size: 19px;
}

.form-container .form-wrap .form-box {
    margin: 0px 0px 15px;

    border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(0, 0, 0, 0.479);
	text-align: center;
}

.form-container .form-wrap .form-box input[type="text"]{
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #353535;
    width: 100%;
}

.form-container .form-wrap .form-submit {
    display: flex;
    justify-content: center;
}


.form-container .form-wrap .form-submit input[type="submit"] {
    padding: 4px 10px;
    border: none;
    border-radius: 2px;
    background: rgb(0, 238, 255);
    color: black;
    font-weight: 800;
    cursor: pointer;
    font-size: 16px;
}